.my-footer {
    /* height: 5em; */
    background-color: #8dbcbe;
    margin-top: 1.5em;
    padding: 1em;
    color: #fff;
    font-size: 80%;
}

.room-image {
    max-width: 50%;
}

.notie-container {
    box-shadow:  none;
}

.datePicker {
    z-index: 10000 !important;
}